---
import Carousel from "../components/Carousel/Carousel.astro";
import { Image } from "astro:assets";
import en from "../i18n/en.json";
import es from "../i18n/es.json";
const locale = Astro.currentLocale;
const t = locale === 'es' ? es : en;
---

<section id="projects" class="bg-gradient-to-br from-slate-700 to-slate-900 text-white py-16 reveal">
  <div class="container mx-auto px-6 sm:px-12 space-y-16">
    <div class="text-center">
      <h2 class="text-3xl sm:text-4xl font-bold">{t.projects.title}</h2>
      <p class="mt-4 text-lg text-gray-300">{t.projects.subtitle}</p>
    </div>

    {t.projects.list.map((project, index) => (
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
        <div class:list={["space-y-4", { "lg:order-2": index % 2 !== 0 }]}>
          <div class="flex flex-wrap items-center space-x-4 mb-6">
            <h3 class="text-2xl font-bold">{project.name}</h3>
            <Image
              src={project.logo.src}
              alt={project.logo.alt}
              class="w-12 h-auto"
              width={48}
              height={48}
              loading="lazy"
            />
          </div>

          <p class="text-lg text-gray-300">{project.description}</p>
          
          <div class="flex flex-wrap items-center space-x-4 mt-4">
            {project.technologies.map(techClass => (
              <i class:list={[techClass, "text-3xl"]} />
            ))}
          </div>

          <a
            href={project.url}
            target="_blank"
            rel="noopener noreferrer"
            class="inline-block text-blue-400 hover:text-blue-500 font-medium mt-4"
          >
            {t.projects.linkText}
          </a>
        </div>
        
        <div class:list={["flex justify-center", { "lg:order-1": index % 2 !== 0 }]}>
          <Carousel 
            images={project.images} 
            height="350px" 
            autoplayDelay={4000 + index * 500} 
          />
        </div>
      </div>
    ))}
  </div>
</section>